/*FONTS*/ 

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

}
*{
font-family:'open_sans'!important;
}
*:focus {
    outline: 0;
}
html { height: 100% 
}
body { height: 100%; margin: 0px;
overflow-y:hidden;
}
#googleMap { 
 height: 100%;
 width:100%;
 -webkit-filter: blur(5px);
 filter:blur(5px);
}
#ok{
margin:3px;
display:none;
}
.timedisp {
position: absolute;
z-index: 101;
top:1%;
left:0.75%;
opacity:0.2;
-webkit-transition: all 1s ease-in-out;

}
#subit{
-webkit-animation-duration: 0.8s;
-moz-animation-duration: 0.8s;
    margin-top:2%;
}
.timedisp:hover {
opacity:0.95;

}

#directbut {
 position: absolute;
z-index: 101;
opacity:1;
 bottom:3.5%;
 top:auto;
 left:98%;
 opacity:0.2;
 -webkit-transition: all 1s ease-in-out;

}

#abbut {
 position: absolute;
    top:auto;
z-index: 101;
opacity:1;
 bottom:3.5%;
 left:96%;
 opacity:0.2;
 -webkit-transition: all 1s ease-in-out;

}
#abbut:hover {
opacity:0.95;}
.nsh{
display:none!important;
}
.noop{
    opacity:0!important;
}
#infopbut {
 position: absolute;
    top:auto;
z-index: 101;
 text-align:center;
 vertical-align:middle;
 opacity:0.7;
 /*-webkit-transition: all 1s ease-in-out;
 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/

}
#directbut:hover {
opacity:0.95;}

#infopbut:hover {
opacity:0.95;}
#over { 
position: absolute;
z-index: 99;
opacity:1;
-webkit-transition: opacity 0.5s!important;
 text-align:center;
}
#infop #spblock{
 display:block;
 
}
#infop { 
position: absolute;
z-index: 100;
opacity:1;
-webkit-transition: all 0.5s ease-in-out;
 text-align:left;
 font-size:100%;
 opacity:0;
 display:none;
 left:-1000px;
 width:auto!important;
 background-color:#fefefe;
 padding:1%;
 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete {
 width: 198px!important;
 margin-top:-7px!important;
 border-color: #8E44AD!important;
 border-width: 2px!important;
 border-top-style:hidden!important;
 border-top-left-radius:0!important;
 border-top-right-radius:0!important;
 
}
.infout{
 left:0px!important;
opacity:1!important;
 display:block;

}
.btn-infop{
 width:40%!important;
min-width:135px!important;
 display:inline;
margin-top:5px!important
 
}
.btn-pink {
 background-color: hsl(326, 100%, 41%) !important;
 background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff199b", endColorstr="#d10076");
 background-image: -khtml-gradient(linear, left top, left bottom, from(#ff199b), to(#d10076));
 background-image: -moz-linear-gradient(top, #ff199b, #d10076);
 background-image: -ms-linear-gradient(top, #ff199b, #d10076);
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff199b), color-stop(100%, #d10076));
 background-image: -webkit-linear-gradient(top, #ff199b, #d10076);
 background-image: -o-linear-gradient(top, #ff199b, #d10076);
 background-image: linear-gradient(#ff199b, #d10076);
 border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 color: #fff !important;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
 -webkit-font-smoothing: antialiased;
}


.btn.btn-whist {
 background-color: #8E44AD;
}
.btn.btn-whist:hover,
.btn.btn-whist:focus,
.btn-group:focus .btn.btn-whist.dropdown-toggle {
 background-color: #9B59B6;
}
.btn.btn-danger:active,
.btn-group.open .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.active {
 background-color: #8E44AD;
}

.control-group.focus textarea, .control-group.focus input[type="text"], .control-group.focus input[type="password"], .control-group.focus input[type="datetime"], .control-group.focus input[type="datetime-local"], .control-group.focus input[type="date"], .control-group.focus input[type="month"], .control-group.focus input[type="time"], .control-group.focus input[type="week"], .control-group.focus input[type="number"], .control-group.focus input[type="email"], .control-group.focus input[type="url"], .control-group.focus input[type="search"], .control-group.focus input[type="tel"], .control-group.focus input[type="color"], .control-group.focus .uneditable-input, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
 
border-color: #8E44AD!important;
}

.noval{
 border-color: #E74C3C!important;
 
}
.gdval{
border-color: #2ecc71!important; 
}

.btn-info {
 margin:3px;
 
}

#ab { 
position: absolute;
z-index: 110;
opacity:1;
-webkit-transition: opacity 0.5s!important;
text-align:center;
background-color: rgb(255, 255, 255);
padding: 1%;
-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
height: 60%;
width: 60%;
}

#abim{
    float:left;
    height:35%;
    width:auto;
    
}
.anim, #over{
-webkit-perspective: 1300px;
-moz-perspective: 1300px;
perspective: 1300px;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
-webkit-animation: popUp .8s ease-in forwards 1;
-moz-animation: popUp .8s ease-in forwards 1;
animation: popUp .8s ease-in forwards 1;
}



@-webkit-keyframes popUp {
70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
100% { -webkit-transform: scale(1); opacity: 1; }
}

@-moz-keyframes popUp {
70% { -moz-transform: scale(1.1); opacity: .8; -moz-animation-timing-function: ease-out; }
100% { -moz-transform: scale(1); opacity: 1; }
}

@keyframes popUp {
70% { transform: scale(1.1); opacity: .8; animation-timing-function: ease-out; }
100% { transform: scale(1); opacity: 1; }
}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
border: 2px solid #BDC3C7;
color: #484746;
font-family: "Open Sans", sans-serif;
font-size: 14px;
padding: 8px 5px;
height: 39px!important;
    width:198px;
text-indent: 6px;
-webkit-appearance: none;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-transition: border .25s linear, color .25s linear;
-moz-transition: border .25s linear, color .25s linear;
-o-transition: border .25s linear, color .25s linear;
transition: border .25s linear, color .25s linear;
-webkit-backface-visibility: hidden;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #FFF;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
}


.btn.btn-large {
font-size: 16.996px;
line-height: 20px;
padding: 12px 18px 13px;
}


.btn {
border: none;
background: #BDC3C7;
color: #FFF;
padding: 9px 12px 10px;
line-height: 22px;
text-decoration: none;
text-shadow: none;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
-webkit-backface-visibility: hidden;
}


/*Phone Port*/
@media only screen and (max-width: 480px) {
		#over{
        width:65%;
        
    }
    
    #infop{
        width:70%!important;
        
        
    }
    
    .overval{
        width:94%!important;
        
    }
    
    #subit{
        width:102%!important;
    }
		}
/*Phone Land*/
@media only screen 
and (max-width : 321px) {
.overval{
        width:96%!important;
        
    }
    #infop{
        width:70%!important;
        
    }
}
